body
{
    background: linear-gradient(to right, #667eea, #764ba2);
    font-family: Segoe UI;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    background: white;
    padding: 35px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
}

h1
{
    margin-bottom: 5px;
}

.subtitle
{
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

input
{
    width: 90%;
    padding: 10px;
    margin: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btns button
{
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: #667eea;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.btns button:hover
{
    background: #5a67d8;
}

.result
{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}